{% extends 'base.html' %}

{% block head %}
<h1>True Odds</h1>
{% endblock %}

{% block title %}
{{ re.sub('-', ' ',name_a).title() }} VS. {{ re.sub('-', ' ',name_b).title() }}:
{% endblock %}


{% block body %}

<div class="duel-box">

    <div class="duel-team">
        <div class="duel-line-header">
            <a href=" {{ url_for('team_page', teamname=name_a) }} ">
                {{ re.sub('-', ' ',name_a).title() }}
            </a>
        </div>
        <div class="duel-team-box">
            {% for stat in stat_track %}
            <div class="duel-line">
                <div class="duel-stat-name">
                    {% if not stat.startswith("de")  %}
                        {{re.sub('_',' ',stat).title()}}:
                    {% else %}
                        {{re.sub('_', ' ', stat[3:] + " against").title()}}
                    {% endif %}
                </div>
                <div class="duel-stat-value">
                    {% if stat != 'Location' %}
                        {{t1[0][stat]}}
                    {% else %}
                        {{prediction[0][stat]}}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="duel-team">
        <div class="duel-line-header">
            <a href=" {{ url_for('team_page', teamname=name_b) }} ">
                {{ re.sub('-', ' ',name_b).title() }}
            </a>
        </div>
        <div class="duel-team-box">
            {% for stat in stat_track %}
            <div class="duel-line">
                <div class="duel-stat-name">
                    {% if not stat.startswith("de")  %}
                        {{re.sub('_',' ',stat).title()}}:
                    {% else %}
                        {{re.sub('_', ' ', stat[3:] + " against").title()}}
                    {% endif %}
                </div>
                <div class="duel-stat-value">
                    {% if stat != 'Location' %}
                        {{t2[0][stat]}}
                    {% else %}
                        {{prediction[0][stat]}}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<br>
<div class="duel-card">
    {% for row in prediction %}
    <div class="duel-card-content">
        <div class="info-container">
            <div class="duel-cell-name">Date:</div>
            <div class="duel-cell"><a href="{{ url_for('date_page', date=row.date) }}">{{ row.date }}</a></div>
        </div>
        <div class="info-container">
            <div class="duel-cell-name">Teams:</div>
            <div class="duel-cell">
                <a href="{{ url_for('team_page', teamname=row.A) }}">{{ re.sub('-', ' ', row.A).title() }}</a>:
                {% if row.A_win > 0.5 %}
                    <b>   {{ '{:.2%}'.format(row.A_win) }}</b>
                {% else %}
                    {{ '{:.2%}'.format(row.A_win) }}
                {% endif %}
            </div>
            <div class="duel-cell">
                <a href="{{ url_for('team_page', teamname=row.B) }}">{{ re.sub('-', ' ', row.B).title() }}</a>:
                {% if row.B_win > 0.5 %}
                    <b>   {{ '{:.2%}'.format(row.B_win) }}</b>
                {% else %}
                    {{ '{:.2%}'.format(row.B_win) }}
                {% endif %}
            </div>
        </div>
        
        <div class="info-container">
            <div class="duel-cell-name">Prediction:</div>
            <div class="duel-cell">
                <b>
                    <a href="{{ url_for('team_page', teamname=row.prediction) }}">{{ re.sub('-', ' ', row.prediction).title() }}</a>:   {{ '{:.2%}'.format(row.ABS_diff) }}
                </b>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}