{% extends 'base.html' %}

{% block title %}

About the prediction model:

{% endblock %}

{% block body %}
<div class="warning">
    <h3>
        This site displays predictions from a Artificial Neural Network that was trained on historical data.
        <br><br>
        The prediction accuracy durring development of the model is subject to change, but generally speaking 70% accurate.
        <br><br>
        <b class="big"><u>Please do not use this to gamble your life savings away!!</u></b>
        <br><br>
        One key rule: Model accuracy on any given week could be anywhere between 50-80% accurate.
    </h3>
    <a href="{{ url_for('predict_page') }}" class="button-link">Proceed to predictions</a>
</div>
{% endblock %}