{% extends 'pred.html' %}

{% block subsearch %}
<div class="title-subcontent">
Team: {{re.sub('-', ' ',name).title()}}
</div>
{% endblock %}

{% block extra %}

<div class="title-subcontent content-title">
    {{ re.sub('-', ' ',name).title() }}'s current stats:
</div>

<div class="stat-table">
    {% for key, value in stats[0].__dict__.items() if key[0] != '_' %}
    <div class="stat-card">
        <div class="stat-card-header">
            <b>
                {{ key }}
            </b>
        </div>
        <div class="stat-cell">{{ value }}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}

