:root {
  --site-green-color: #33ad4e;
  --card-width: 300px;
  --dark-grey: #1b1b1b;
  --background-grey: #333;
  --card-color: #bdbdbd;
  --shadow-box-clear: rgba(0, 0, 0, 0.3);
  --stat-card-width: 100px;
  --corner-radius: 30px;
}

/* navigation bar */
.navbar {
  background-color: var(--dark-grey); /* Set the background color of the navbar */
  overflow: hidden;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: -10;
}

.navbar li {
  border-radius: 10px;
  display: inline-block; /* Display list items side by side */
}

.navbar a {
  float: left;
  display: block;
  color: white; /* Set the text color of the links */
  text-align: center;
  padding: 14px 16px; /* Set padding for the links */
  text-decoration: none;
  font-size: 24px;
}

.navbar a:hover {
  background-color: var(--site-green-color); /* Change the background color on hover */
  color: black; /* Change the text color on hover */
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
  background-color: var(--background-grey); 
  color: white;
  font-family: 'Open Sans', sans-serif;
}

a.button-link {
  padding: 10px 10px;
  background-color: var(--site-green-color);
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5%;
  margin-left: 40%;
  cursor: pointer;
  border-radius: 5px;
}

/* Hover effect for the button */
a.button-link:hover {
  background-color: var(--site-green-color); /* Darken the background color on hover */
}

.warning {
  background-color: rgb(29, 29, 29);
  color: rgb(250, 250, 250); /* light red color */
  border: 2px solid rgb(255, 255, 255); 
  border-radius: var(--corner-radius);
  padding: 20px; /* optional: add padding to the content */
}

/* ------------------------------------ */
a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  color: var(--site-green-color);
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: blueviolet;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */
input {
  display: block;
	outline: none;
	border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
  margin-top: 0%;
  border: 1px solid var(--card-color);
  border-bottom-left-radius: var(--corner-radius);
  border-bottom-right-radius: var(--corner-radius);
}

.container-box {
  width: 100%;
  background: var(--site-green-color);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 30px;
  border-bottom-right-radius: var(--corner-radius);
  border-bottom-left-radius: var(--corner-radius);
  
}

.wrap-box {
  width: 95%;
  overflow: hidden;
  margin-bottom: 4%;
}


.odds-title {
  text-align: center;
  font-size: 60px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: var(--site-green-color);
  text-shadow: 2px 2px 5px #000;
}

.page-title {
  width: 100%;
  background: var(--dark-grey);
  padding: 20px 5%;
  color: var(--card-color);
  border-top-right-radius: var(--corner-radius);
  border-top-left-radius: var(--corner-radius);
}

.title-subcontent {
  margin-left: 2%;

}

.content-title {
  color: white; 
  font-size: 30px;
}

.big {
  font-size: 48px;
  color: #c54343;
}

.page-container {
  width: 70%;
  margin: 0 auto; /* Center the container on the page */
  background-color: var(--background-grey); /* Dark grey color */
  padding: 20px; /* Adjust the padding as needed */
  box-sizing: border-box; /* Include padding in the total width */
}

.table {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 10fr));
  gap: 20px; /* Adjust the gap between cards */
}

.card-header {
  color:var(--site-green-color);
  background-color: var(--background-grey);
  font-size: 15px;
}

.card-header:hover {
  color: var(--background-grey);
  background-color: var(--card-color);
}

.card {
  border: 1px solid var(--card-color);
  border-radius: var(--corner-radius);
  box-shadow: 0 4px 8px var(--shadow-box-clear);
  overflow: hidden;
  width: var(--card-width); /* Adjust the width of each card as needed */
  margin: auto;
}

.card-content {
  padding: 15px;
}

.cell {
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 15px;
}


.cell-name {
  font-size: 12px;
}

.stat-table {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(var(--stat-card-width), 10fr));
  gap: 10px; /* Adjust the gap between cards */
}


.stat-card-header {
  color:var(--site-green-color);
  background-color: var(--background-grey);
  font-size: 15px;
}

.stat-card {
  border: 1px solid var(--card-color);
  border-radius: 12px;
  box-shadow: 0 4px 8px var(--shadow-box-clear);
  overflow: hidden;
  margin: auto;
  width: var(--stat-card-width);
  background-color: white;
}

.stat-cell {
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 15px;
  color: var(--dark-grey);
}


.stat-cell-name {
  font-size: 12px;
  margin-left: 5px;
  color: var(--dark-grey);
}


/* Duel page */


.duel-box {
  display: flex;
  justify-content: space-between;
}

.duel-team {
  width: 48%;
  border-radius: var(--corner-radius);
  background-color: var(--dark-grey);
  padding: 15px;
  box-shadow: 2px 2px 5px var(--shadow-box-clear);
}
.duel-line {
  position: relative;
  padding-bottom: 10px; /* Adjust as needed */
  text-align: center; /* Center the content */
}

.duel-line-header a {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold; /* Bold title */
  color: var(--card-color);
  display: block;
  text-align: center;
  text-shadow: 2px 2px 5px #000; /* Add shadow for better visibility */
}

.duel-stat-name {
  font-size: 22px;
  font-weight: bold; /* Bold title */
  color: var(--card-color);
}

.duel-stat-value {
  font-size: 20px;
  font-weight: bold; /* Bold title */
  color: var(--dark-grey); /* Adjusted text color for better contrast with the green background */
  background-color: var(--card-color); /* Use dark-grey for background */
  padding: 5px 10px;
  border-radius: var(--corner-radius);
  box-shadow: 2px 2px 5px var(--shadow-box-clear);
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
